:root {
	--background-color--dark: #262626;
	--text-color--bright: #8c7b88;

	--background-color--bright: #bf8a94;
	--text-color--dark: #262626;
	--color-3: #d99191;

	--border-color--dark: #0d0d0d;
	--border-width: 1px;
	--border-radius: 1rem;

	--color-white: #ffffff;
}

body {
	margin: 0;
	background-image: url(assets/wallpapers/mountain.jpg);
	background-size: cover;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	font-family: "Courier New", Courier, monospace;
	color: var(--text-color--bright);
}

* {
	box-sizing: border-box;
}

img {
	display: block;
}
